In [20]:
#Importing libraries
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('email.csv')

In [3]:
df

            Category                                            Message
0                ham  Go until jurong point, crazy.. Available only ...
1                ham                      Ok lar... Joking wif u oni...
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...
3                ham  U dun say so early hor... U c already then say...
4                ham  Nah I don't think he goes to usf, he lives aro...
...              ...                                                ...
5568             ham               Will ü b going to esplanade fr home?
5569             ham  Pity, * was in mood for that. So...any other s...
5570             ham  The guy did some bitching but I acted like i'd...
5571             ham                         Rofl. Its true to its name
5572  {"mode":"full"                                    isActive:false}

[5573 rows x 2 columns]

In [4]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [5]:
df=df[['Message','Category']]

In [6]:
df

                                                Message        Category
0     Go until jurong point, crazy.. Available only ...             ham
1                         Ok lar... Joking wif u oni...             ham
2     Free entry in 2 a wkly comp to win FA Cup fina...            spam
3     U dun say so early hor... U c already then say...             ham
4     Nah I don't think he goes to usf, he lives aro...             ham
...                                                 ...             ...
5568               Will ü b going to esplanade fr home?             ham
5569  Pity, * was in mood for that. So...any other s...             ham
5570  The guy did some bitching but I acted like i'd...             ham
5571                         Rofl. Its true to its name             ham
5572                                    isActive:false}  {"mode":"full"

[5573 rows x 2 columns]

In [7]:
df=df.drop(5572)

In [8]:
df

                                                Message Category
0     Go until jurong point, crazy.. Available only ...      ham
1                         Ok lar... Joking wif u oni...      ham
2     Free entry in 2 a wkly comp to win FA Cup fina...     spam
3     U dun say so early hor... U c already then say...      ham
4     Nah I don't think he goes to usf, he lives aro...      ham
...                                                 ...      ...
5567  This is the 2nd time we have tried 2 contact u...     spam
5568               Will ü b going to esplanade fr home?      ham
5569  Pity, * was in mood for that. So...any other s...      ham
5570  The guy did some bitching but I acted like i'd...      ham
5571                         Rofl. Its true to its name      ham

[5572 rows x 2 columns]

In [9]:
df.isna().sum()

Message     0
Category    0
dtype: int64

In [10]:
df.shape

(5572, 2)

In [11]:
#Feature selection
X=df['Message']
y=df['Category']

In [12]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [13]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,  y, test_size=0.20, random_state=45)

In [15]:
#Feature extraction
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X_train_features=cv.fit_transform(X_train)
X_test_features=cv.transform(X_test)

In [16]:
#Importing svc model
from sklearn.svm import SVC
svc=SVC()

In [17]:
#Training model
svc.fit(X_train_features, y_train)

SVC()

In [18]:
#Prediction
pred=svc.predict(X_test_features)

In [19]:
#Checking accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)*100

97.75784753363229